@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Caveat:wght@600&family=DynaPuff&family=Kanit:ital,wght@0,800;1,800&family=Montserrat+Alternates:ital,wght@1,300&family=Mouse+Memoirs&family=Mynerve&family=PT+Sans+Narrow&family=Play&family=Quicksand:wght@300&family=Rowdies&family=Russo+One&family=Secular+One&family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", "Times New Roman";
    overflow: hidden;
}

html {
    background: radial-gradient(circle,
            rgb(47, 22, 68) 0%,
            rgb(63, 5, 63) 100%);
}

/* -----------------------------------------------
Name : CANIM KENDIM
Designer : Mikail Enes Kaya
URL : www.mikaileneskaya.com
----------------------------------------------- */

.container {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 100px;
    color: rgb(218, 235, 250);
    user-select: none;
    font-family: "Russo One";
}

#tikla {
    display: none;
    position: absolute;
    top: 10%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1rem;
    font-family: "Quicksand";
    user-select: none;
}

#tikla img {
    width: 3rem;
    height: auto;
    opacity: 0.8;
    user-select: none;
}

span {
    position: absolute;
    font-size: 0.7rem;
    bottom: 40px;
    color: rgba(255, 255, 255, 0.35);
    user-select: none;
}

.circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(138, 80, 165);
    transform: scale(0);
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    z-index: 9999;
}

@media only screen and (max-width: 930px) {
    h1 {
        font-size: 75px;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 65px;
    }

    span {
        bottom: 60px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }

    span {
        font-size: 0.6rem;
    }

    #tikla {
        font-size: 0.6rem;
        letter-spacing: 0.6rem;
    }

    #tikla img {
        width: 1.8rem;
        height: auto;
        opacity: 0.8;
    }
}

@media only screen and (max-width: 430px) {
    h1 {
        font-size: 30px;
    }
}
